<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="/Default/SendMessage/" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Adınız</label>
                <input type="text" name="Name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Mail Adresiniz</label>
                <input type="email" class="form-control" name="Mail" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Mesajınız</label>
              <textarea class="form-control" name="Content" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>