@using EntityLayer.Concrete
@model  List<Portfolio>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container"> <!--Container start-->

      <div class="section-title">
        <h2>Projelerim</h2>
        <p>Projelerimi aşağıda inceleyebilirsiniz.</p>
        </br>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100"> <!--Cont2 start-->
            @foreach (var item in Model)
            {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="@item.ImageURL" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                    <a href="@item.ImageURL2" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.ProjectName"><i class="bx bx-plus"></i></a>
                                <a href="@item.ProjectURL" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
            }

      </div><!--Cont2 end-->

    </div> <!--container end-->
  </section><!-- End Portfolio Section -->
