<div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <iframe src="https://www.google.com/maps/place/%C4%B0stanbul+Gedik+%C3%9Cniversitesi+Kartal+Kamp%C3%BCs%C3%BC/@40.909258,29.1714542,14z/data=!4m6!3m5!1s0x14cac4ba96bbab9d:0x96887e0c51d7dfd3!8m2!3d40.9015423!4d29.2193774!16s%2Fg%2F120khcv3?hl=tr-TR&entry=ttu" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>
