@using EntityLayer.Concrete
@model List<Feature>

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        @foreach (var item in Model)
        {
           <h1>@item.Name</h1> 
        }
            <p>I'm <span class="typed" data-typed-items="Student, Developer, Designer, Photographer"></span></p>
    </div>
  </section><!-- End Hero -->
