<!-- Navigation -->
      <ul class="navbar-nav"> <!--Ul1-->
        <li class="nav-item  active ">
          <a class="nav-link " href="../index.html">
            <i class="ni ni-tv-2 text-primary"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/icons.html">
            <i class="ni ni-planet text-blue"></i> Öne Çıkanlar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active " href="../examples/maps.html">
            <i class="ni ni-pin-3 text-orange"></i> Yetenekler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/profile.html">
            <i class="ni ni-single-02 text-yellow"></i> Hakkımda
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../examples/tables.html">
            <i class="ni ni-bullet-list-67 text-red"></i> Hizmetler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/login.html">
            <i class="ni ni-key-25 text-info"></i> Projeler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> Deneyimler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> Referanslar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> İletişim
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> Mesajlar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> Ayarlar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> İstatistikler
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../examples/register.html">
            <i class="ni ni-circle-08 text-pink"></i> Oturumu Kapat
          </a>
        </li>
      </ul> <!--Ul1-->
      <!-- Divider -->
      <hr class="my-3">