
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Oran</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>
    <tr>
        <th>1</th>
        <th>SQL</th>
        <th>95</th>
        <th><a href="#" class="btn btn-danger">Sil</a></th>
        <th><a href="#" class="btn btn-warning">Güncelle</a></th>
    </tr>

</table>